/atom.cfg
/cgi.cfg
/checkcommands.cfg
/conf.d
/connections.dat
/contactgroups.cfg
/contacts.cfg
/hostextinfo.cfg
/hostgroups.cfg
/hosts.cfg
/htpasswd.admin
/htpasswd.users
/instance.cfg
/local
/map
/map.local
/master.cfg
/misccommands.cfg
/mrtg.cfg
/nagios.cfg
/nagiosgraph.conf
/ndo2db.cfg
/ndomod.cfg
/nrpe_local
/nsca.cfg
/opsview.conf
/plugins
/profile_local
/rss.cfg
/runtime.cfg
/send_nsca.cfg
/services.cfg
/slavenode.id
/snmptraps.cfg
/timeperiods.cfg
/user_prefs.dat
