/avail.css
/checksanity.css
/cmd.css
/common.css
/config.css
/extinfo.css
/histogram.css
/history.css
/ministatus.css
/notifications.css
/outages.css
/showlog.css
/status.css
/statusmap.css
/summary.css
/tac.css
/trends.css
/skins
/dataTables.css
