/* CSS Common to all AJAX pages */
/* Includes:
     Spans that act like links (linktext)
     Options tabs fixed in top right (options_tab & options_box)
*/

/* make span act like a link */
.linktext { cursor: pointer; text-decoration: underline; }
.linktext:hover { text-decoration: none; }
.linktext img { text-decoration: none; }

/* options tab in top right */
.options_tab {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 5px;
  height: 35px;
  background-color: #ffffff;
}

.options_box {
  position: relative;
  background-color: #eeeeee;
  border: 1px solid #000000; 
  padding: 5px;
  width: 400px;
}

/** html .options_tab {position:absolute;}
* html .options_box {position:absolute;}
*/
/*
body {
height:100%; overflow-y:auto;
}
*/
