/avail.cgi
/cmd.cgi
/config.cgi
/extinfo.cgi
/histogram.cgi
/history.cgi
/notifications.cgi
/outages.cgi
/showlog.cgi
/status.cgi
/statusmap.cgi
/statuswml.cgi
/statuswrl.cgi
/summary.cgi
/tac.cgi
/trends.cgi
/sidenav.cgi
/show.cgi
